{% extends 'base.html' %}
{% load static %}
{% block body %}

<div>

	{% if form.errors %}
	<p class="error">Please correct the errors below:</p>
	{{ form.errors }}
	{% endif %}
	<div class='container'>

		<div class="container-fluid">
	        <div class="row">
	            <h3 class="pull-left">Add Blog</h3>
	        </div>
	    </div>
	    <hr class="clearfix" />
		<form data-toggle="validator" role="form" action="" method="post" name="formprofile" id="formprofile" enctype="multipart/form-data">{% csrf_token %}
		  
			<div class="form-group col-md-6">
				<label class="control-label">Title</label>
    			{{ form.title }}

    			{% if form.title.errors %}
	    			<div class="help-block with-errors">{{ form.title.errors|join:", " }}</div>
	    		{% endif %}
		  	</div>
		  	<div class="form-group col-md-6">
				<label class="control-label">Tags</label>
    			{{ form.tags }}
    			{% if form.tags.errors %}
	    		<div class="help-block with-errors">{{ form.tags.errors|join:", " }}</div>
	    		{% endif %}
		  	</div>
		  	<div class="form-group col-md-6">
				<label class="control-label">Body</label>
    			{{ form.body }}
    			{% if form.body.errors %}
	    		<div class="help-block with-errors">{{ form.body.errors|join:", " }}</div>
	    		{% endif %}
		  	</div>
		  	<div class="form-group col-md-6">
				<label class="control-label">Status</label>
    			<label>{{ form.status }}</label>
    			{% if form.status.errors %}
	    		<div class="help-block with-errors">{{ form.status.errors|join:", " }}</div>
	    		{% endif %}
		  	</div>
		  
		  	<div class="form-group col-md-12">
		    	<button type="submit" class="btn btn-primary">Post</button>
		    	<button type="reset" value="Reset" class="btn btn-primary">Reset</button>
		    </div>
		</form>

	</div>
</div>
{% endblock body %}