{% extends 'base.html' %}
{% load static %}
{% block body %}
<div>
	<div class='container'>

	    <div class="col-sm-9 col-left">
	    	<div id="primary" class="content-area">
	    		<div id="content" class="site-content" role="main">
	    			<div class="post-header">
						<h1 class="post-title">{{blog_post.post.title}}</h1>
		                <div class="list-countersec"> 
		                	<span class="by-author">by 
		                		{% if blog_post.post.userid_id == user.id %}
									<a href="/blog/profile">
										{{blog_post.user_obj.first_name}} {{blog_post.user_obj.last_name}}
									</a>
								{% else %}
									<a href="/blog/profile/{{blog_post.post.userid_id}}">
										{{blog_post.user_obj.first_name}} {{blog_post.user_obj.last_name}}
									</a>
								{% endif %}
		                	</span> 
		                	<span class="date">{{blog_post.post.pub_date|date:"M d, Y"}}</span>
		        		</div>
        			</div>
        			<p>{{blog_post.post.content|linebreaks}}</p>
        			<hr class="clearfix" />
        			<div>
        				<div class="comment-count">{{comment_count}} Comments</div>
        				<hr class="comment-hr" />
        				<input type="hidden" name="postid" id="postid" value="{{blog_post.post.id}}">
        				{% csrf_token %}
			    		<input type="text" name="comment" id="comment" class="commentbox" placeholder="Start the discussion...">
			    		<!-- <input type="button" name="btnComment" id="btnComment" class="btn btn-primary commentbtn" value="Post"> -->

			    		<button id = "btnComment" class = "btn btn-primary commentbtn" data-loading-text = "..." type = "button">Post</button>

			    		<div class="help-block with-errors" id="comment_error"></div>
			    	</div>
			    	
			    	<div id="comment_box">
			    		<ul class="comment-ul">
			    			{% if comment_list %}
				    			{% for comments in comment_list %}
					    			<li class="comment-li" id="li-{{comments.comment_info.id}}">
					    				<div class="widget comment-profile-info">
											<div class="utcw-4nkbnb0 tagcloud pull-left authorphoto-comment">
												<a href="/blog/profile/{{comments.comment_info.userid_id}}">
													<img class="media-object profile-pic" src="/static/blog/user_profile_img/{{comments.comment_userprofile_obj.user_photo}}" alt="Pranav Naxane" width="60">
												</a>
											</div>
											<div class="pull-left authorinfo-comment">
												<div>
													<a href="/blog/profile/{{comments.comment_info.userid_id}}" class="font16">
														{{comments.comment_user_obj.first_name}} {{comments.comment_user_obj.last_name}}
													</a>
												</div>
												<div>{{comments.comment_info.comment}}</div>
												<div>
													<span class="comment-date">{{comments.comment_info.timestamp|date:"M d, Y"}}</span>
													{% if comments.comment_info.userid_id == user.id %}
														<span class="delete-icon" postid="{{comments.comment_info.postid_id}}" commentid="{{comments.comment_info.id}}">&nbsp;</span>
													{% endif %}
												</div>
											</div>
											<div class="clearfix"></div>
										</div>
					    			</li>
				    			{% endfor %}
			    			{% endif %}
			    		</ul>
			    	</div>
			    	<input type="hidden" id="comment_count" name="comment_count" value="{{comment_count}}">
	    		</div>
	    	</div>
	    </div>
	
		<div class="col-sm-3 col-right">
			<div class="content_right">
				<div class="widget-area">
					<div class="widget" id="profile-info">
						<h3 class="widget-title">Author</h3>
						<div class="utcw-4nkbnb0 tagcloud pull-left authorphoto">
							{% if blog_post.post.userid_id == user.id %}
								<a href="/blog/profile">
									<img class="media-object profile-pic img-circle" src="/static/blog/user_profile_img/{{blog_post.userprofile_obj.user_photo}}" alt="{{blog_post.user_obj.first_name}} {{blog_post.user_obj.last_name}}" width="60">
								</a>
							{% else %}
								<a href="/blog/profile/{{blog_post.post.userid_id}}">
									<img class="media-object profile-pic img-circle" src="/static/blog/user_profile_img/{{blog_post.userprofile_obj.user_photo}}" alt="{{blog_post.user_obj.first_name}} {{blog_post.user_obj.last_name}}" width="60">
								</a>
							{% endif %}
							
						</div>
						<div class="pull-left authorinfo">
							<div>
								{% if blog_post.post.userid_id == user.id %}
									<a href="/blog/profile" class="font16">
										{{blog_post.user_obj.first_name}} {{blog_post.user_obj.last_name}}
									</a>
								{% else %}
									<a href="/blog/profile/{{blog_post.post.userid_id}}" class="font16">
										{{blog_post.user_obj.first_name}} {{blog_post.user_obj.last_name}}
									</a>
								{% endif %}
							</div>
							<div>{{blog_post.user_obj.email}}</div>
							<div>{% if blog_post.userprofile_obj.contact_no != None %}{{blog_post.userprofile_obj.contact_no}}{% endif %}</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="widget" id="tags">
						<h3 class="widget-title">Tags</h3>
						<div class="utcw-4nkbnb0 tagcloud tag-cloud">
							<!-- {{blog_post.post.tags}} -->

							{% for Tags in simplifiedTags %}
								{% if Tags.1 == 'NOUN' %}
									<a href="/blog/content/{{ Tags.0 }}/" style="font-size: {{ sizes|random }}px">{{Tags.0}}</a>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock body %}