{% extends 'base.html' %}
{% load static %}
{% block body %}

<div>
	<div class='container' style='padding-top:10px'>
		<div class="container-fluid">
	        <div class="row">
	            <h3 class="pull-left">Change Password</h3>
	        </div>
	    </div>
	    <hr class="clearfix" />
		<form action="" method="post" class=" form-horizontal col-md-6 col-md-offset-4">
		{% csrf_token %}
			<div class="form-group col-md-6">
				{{form.password}}

				{% if form.password.errors %}
	    			<div class="help-block with-errors">{{ form.password.errors|join:", " }}</div>
	    		{% endif %}
			</div>
			<div class="clearfix"></div>
			<div class="form-group col-md-6">
				{{form.confirm_password}}

				{% if form.confirm_password.errors %}
	    			<div class="help-block with-errors">{{ form.confirm_password.errors|join:", " }}</div>
	    		{% endif %}
			</div>
			<div class="clearfix"></div>

			<div class="form-group col-md-6">
				<input type="submit" value="Change Password" class='btn btn-primary btn-lg btn-block' />
			</div>
		</form>
	</div>
</div>
{% endblock body %}